<nav>
    <p-toast></p-toast>
    <p-blockUI [blocked]="isLoading"> <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i></p-blockUI>
    <div class="shadow-2 nav-content">
        <div class="wrapper">
            <div class="logo"><a href="#">Tang</a></div>

            <div class="nav-links" [ngClass]="{'logged-in': isLoggedIn}">
                <p-button *ngIf="!isLoggedIn" class="mx-3" label="Entrar" [outlined]="true" (onClick)="showLogin()"></p-button>
                <p-button *ngIf="!isLoggedIn" class="" label="Cadastre-se"></p-button>

                <p-button pTooltip="Criar novo post" 
                    tooltipPosition="bottom" 
                    *ngIf="isLoggedIn" 
                    class="mx-3" 
                    icon="pi pi-plus" 
                    (onClick)="showLogin()">
                </p-button>

                <p-button icon="pi pi-book" *ngIf="isLoggedIn" class="mx-3" label="Criar Álbum" [outlined]="true" (onClick)="showLogin()"></p-button>

                <p-menu #menu [model]="items" [popup]="true"></p-menu>
                <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars" class="ml-3"></button>
            </div>
        </div>
    </div>
</nav>

<app-login [visible]="loginModalVisible" (okClicked)="hideLoginModal()" #loginModal></app-login>